# ActiveRecord

# associations
snippet bt
	belongs_to :${1}
snippet ho
	has_one :${1}
snippet hm
	has_many :${1}
snippet habtm
	has_and_belongs_to_many :${1}
snippet hmt
	has_many :${1:association}, :through => ${2}

# validations
snippet va
	validates :${1:attribute}, :${2:options}
